<footer class="px-4 py-8 bg-slate-900 text-gray-50 text-center">
  Copyright @ 2023 | By <a href="https://skndash.tk" rel="external" class="text-sky-600 hover:underline">Dash Skndash</a>
</footer>

<script>
</script>