<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="stylesheet" href="styles/out.css" />
  </head>
  <body>
    <script>
      fetch(
        "https://firestore.googleapis.com/v1/projects/tinydash96/databases/(default)/documents/paths" + window.location.pathname
      ).then(async res => {
        if (res.ok) {
          const { fields } = await res.json();
          window.location.replace(fields.link.stringValue);
        } else {
          window.location.replace("/404");
        }
      }).catch(err => {
        console.error(e);
        window.location.replace("/500?m="+e.message);
      });
    </script>
  </body>
</html>